@charset "utf-8";
@import "lake_layout.css";
/* Font Used in Website */
@font-face{
   font-family: Champagne;
   src:url(cac_champagne.ttf) format('truetype'),
   url(cac_champagne.woff2) format('woff2'),
   url(cac_champagne.woff) format('woff');
}
@font-face{
   font-family: DobkinPlain;
   src:url(DobkinPlain.ttf) format('truetype'),
   url(DobkinPlain.woff2) format('woff2'),
   url(DobkinPlain.woff) format('woff');
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Marcus Tinney
   Date: 9/13/2019  
   
   Filename: lake_styles.css

*/

/* Structural Styles */

html{
   background-color: rgba(235, 227, 162, .8);
}
body{
   background-color: rgb(238, 232, 223);
}